#wrapper {
    text-align: center;
}

.centered {
   display: inline-block;
}

@media screen and (min-width: 900px) {
    .centered {
       display: inline-block;
    }
}

#mainForm {
    text-align: left;
    display: inline-block;
}

@media screen and (min-width: 900px) {
    #mainForm {
        float: right;
        margin-top: 13px;
    }
}

#mainForm input,select {
    margin: 10px;
}

#mainForm a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

#mainForm a:hover, #mainForm a>label:hover {
    cursor: pointer;
}

#mainForm label {
    font-weight: bold;
}

#myHeader {
    text-align: left;
}

#myHeader h1 {
    display: inline-block;
    margin-top: 3px;
    padding-top: 0px;
    font-family: "Arial",sans-serif;
}

#viewport {
    text-align: left;
    border: 1px solid gray;
    border-radius: 0px 4px 4px 4px;
    margin-top: 10px;

}

@media screen and (min-height: 550px) {
    #viewport {
        min-height: 500px;
    }
}

#toptabs {
    position: absolute;
}

#toptabs ul {
    position: relative;
    bottom: 29px;
    right: 40px;
}

#toptabs ul {
    list-style: none;
}

#toptabs ul li {
    float: left;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-radius: 2px 2px 0px 0px;
    padding: 1px 3px;
}

#toptabs ul li:last-child {
    border-right: 1px solid gray;
}

#toptabs ul li a {
    text-decoration: none;
}

li.active {
    background-color: #eeeeee;
}

#ltabs li.active {
    border-right: 1px solid gray;
}

#ltabs {
    position:absolute;
}

#ltabs>ul {
    list-style: none;
    position: relative;
}

@media screen and (min-width: 900px) {
    #ltabs>ul {
        left: -185px;
        bottom: 6px;
    }
}

@media screen and (max-width: 900px) {

    #myHeader > h1 {
        margin-bottom: 6px;
    }
    #ltabs {
        position:static;
    }

    #ltabs>ul {
        list-style: none;
        padding: 0px;
        margin-top: 0px;
    }

    #ltabs>ul li {
        float: left;
        border: 1px solid gray;
    }

    #toptabs {
        position: static;
    }

    #toptabs ul {
        position: static;
        padding-left: 0px;
    }

   #ltabs:after {
        content:'';
        display:block;
        clear: both;
    }

}
#ltabs>ul li {
    width: 140px;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    padding: 2px;
    text-align: center;
}

#ltabs>ul li:last-child {
    border-bottom: 1px solid gray;
}

#ltabs>ul li a {
    text-decoration: none;
}

#content {
    padding: 5px;
}

#viewport .entry {
    padding: 5px;
    margin: 5px 0px;
    border: 1px solid gray;
    border-radius: 4px;
}

ul.legs {
    list-style: none;
}

ul.legs li {
    margin-top: 5px;
}

#mainForm .lnr {
 display: inline-block;
  fill: currentColor;
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.25em;
  margin-left: 2px;
}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

/*CB overriden below for normal screens*/
.fullsize {
        width: 98%;
        min-height: 150px;
}

#viewport {
    position: relative;
    z-index: 100;
}

textarea#mainEditor {
    resize: both;
    position: relative;
    min-height: 150px;
    min-width: 20px;
}

input.wideinput {
    width: 200px;
}

@media screen and (max-width: 900px) {
    #rightside {
        text-align: left;
        position: static;
        display: block;
    }
}

@media screen and (min-width: 900px) {
    #viewport {
        width: 800px;
    }
    .fullsize {
        width: 781px;
        height: 500px;
    }

    table.fullspan {
        width: 781px;
    }
    input.wideinput {
        width: 500px;
    }

    textarea#mainEditor {
    }

    #rightside {
        text-align: left;
        position: absolute;
    }
    #rsCSSHelper {
        position: relative;
        left: 820px;
        bottom: 12px;
        display: inline;
        float: right
    }

}

#rsCSSHelper label {
        font-weight: bold;
}

#rsCSSHelper>ul li {
    background-color: #eeeeee;
}

#rightside ul {
     list-style: none;
     padding-left: 0px;
}

#rightside ul li{
    min-height: 20px;
    min-width: 50px;
    margin-bottom: 5px;
}
table.center {
    text-align: center;
}

table.center table {
    display:inline-block;
}

#graphInputItems label {
  display: block;
  font-weight: bold;
  margin-left: 10px;
}

#graphInputItems input {
  display: block;
  margin-left: 10px;
  width: 300px;
}

