<web-app xmlns="http://java.sun.com/xml/ns/javaee"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
             version="3.0">
    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>com.cvberry.berrypim.HelloServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
    </servlet>

    <filter>
        <filter-name>AuthenticationFilter</filter-name> <!-- mandatory -->
        <filter-class>com.cvberry.berrypim.AuthenticationFilter</filter-class> <!-- mandatory -->
    </filter>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name> <!-- mandatory -->
        <url-pattern>/*</url-pattern> <!-- either url-pattern or servlet-name is mandatory -->
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

</web-app>